<%= form_for(@comentario) do |f| %>
  <% if @comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% @comentario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :contenido %><br>
    <%= f.text_field :contenido %>
  </div>
  <div class="field">
    <%= f.label :email_autor %><br>
    <%= f.text_field :email_autor %>
  </div>  
  <div class="field">
    <%= f.label :nombre_autor %><br>
    <%= f.text_field :nombre_autor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
