<h3> Comentarios para <%= @elemento.nombre %> <small>   Mostrando <%= @elemento.comentarios.count %> comentarios </small></h3>

<br>
<% @elemento.comentarios.each do |c| %>
<div class="well">
  <div class="media">
    <a class="pull-left"><img src="/img/no_img.png" class= "media-object" height="70px"></a>
    <div class="media-body">
      <h4 class="media-heading"><%= c.nombre_autor%> <small><%= c.email_autor %></small></h4>
      <p><%= c.contenido %></p>
      <p class="text-info text-right"> enviado el <%= c.updated_at.to_formatted_s(:short) %></p>
    </div>
  </div>
<% end %>
</div>