<ul class="list-group">
  <% @tipos.each do |tipo| %>
    <%= link_to({:controller => :inicio, :action => :index, :tipo => tipo.id}) do%>
    <li class="list-group-item">
      <span class="badge"><%= tipo.elementos.count %></span>
      <%= tipo.nombre%>
    </li>
    <% end %>
  <% end %>
</ul> 