<div class="col-md-6">
<%= form_for @elemento, :html => {:multipart => true, :role => "form"} do |f| %>
  <% if @elemento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@elemento.errors.count, "error") %> impidieron que el elemento se guarde:</h2>

      <ul>
      <% @elemento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre ,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion  ,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :imagen %><br>
    <%= image_tag(@elemento.imagen_url) if @elemento.imagen? %>
    <%= f.file_field :imagen %>
    <%= f.hidden_field :imagen_cache %>
  </div>
  <div class="form-group">
    <%= f.label :precio %><br>
    <%= f.number_field :precio  ,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :caracteristicas %><br>
    <%= f.text_area :caracteristicas  ,class: "form-control" , rows:"3"%>
  </div>
  <div class="form-group">
    <%= f.label :tipo %><br>
    <%= f.collection_select :tipo_id, Tipo.all, :id, :nombre, :selected => @elemento.tipo_id  ,class: "form-control" %>
  </div>
    <%= f.submit "Guardar" ,class: "btn btn-primary" %>
<% end %>
</div>