<% @elementos.each do |elemento| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag elemento.imagen_url.to_s %>
      <div class="caption">
        <h3> <%= elemento.nombre %> </h3>
        <p><%= elemento.descripcion %></p>
        <p>
          <%= link_to 'Ver', elemento_path(elemento), class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>
<% end %>