<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <%= image_tag @elemento.imagen_url.to_s , class: "img-responsive"%>
  </div>
  <div class="col-md-8">
    <h1><%= @elemento.nombre %><small class="label label-success pull-right">
      <%= number_to_currency(@elemento.precio, :delimiter => '.', :unit => "Gs. ", :precision => 0) %></small></h1>
    <p><%= @elemento.descripcion %></p>
    <p><strong>Características</strong>
      <%= @elemento.caracteristicas %>
    </p>
    <p><strong>Categoría: </strong> <%= link_to @elemento.tipo.nombre, @elemento.tipo %></p>
    <div class="btn-group">
      <%= link_to 'Editar', edit_elemento_path(@elemento), class: "btn btn-primary" %>
    </div>
    <div class="btn-group">
      <%= link_to 'Atrás', elementos_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
<hr>
<%= render 'comentarios/listado' %>
