<h1>Listing ejemplos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ejemplos.each do |ejemplo| %>
      <tr>
        <td><%= ejemplo.nombre %></td>
        <td><%= ejemplo.numero %></td>
        <td><%= link_to 'Show', ejemplo %></td>
        <td><%= link_to 'Edit', edit_ejemplo_path(ejemplo) %></td>
        <td><%= link_to 'Destroy', ejemplo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ejemplo', new_ejemplo_path %>
