<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ejemplo.nombre %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @ejemplo.numero %>
</p>

<%= link_to 'Edit', edit_ejemplo_path(@ejemplo) %> |
<%= link_to 'Back', ejemplos_path %>
